* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:  DINPro;
    src: url('./fonts/DINPro-Bold.otf');
    font-weight: bold;
}


.trustPilot__container{
    width: 100%;
    background-color: #FCFCFC;
}
.trustPilot__container__inner{
    width: 700px;
    margin: auto;
    padding-top: 130px;
}
.trustPilot__title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.trustPilotButton {
    background-color: black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: 0px;
}
.trustPilot__starRating{
    text-align: center;
    margin-bottom: 30px;
}
.trustPilot__starRating__stars{
    color: #00FF00;
    font-size: 20px;
    margin-bottom: 20px;
}
.trustPilot__starRating__summary{

}
.trustPilot__statistics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 30px;
    font-size: 12px;
}
.trustPilot__statistics__left{

}
.trustPilot__reviewsContainer__filter select{
    border: 1px solid #000000;
    width: 233px;
    height: 48px;
    padding: 10px;
}
.trustPilot__statistics__left__container__container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
        " numOfstars barPer barPer barPer barPer barPer barPer amountToShow";
    grid-gap: 5px;
    margin-bottom: 10px;
}
.trustPilot__statistics__left__container__container__numOfStars{
    grid-area: numOfstars;
}
.productInfo__stat__bar__percent{
    background-color: #E8E8E8;
    height: 3px;
    display: flex;
    grid-area: barPer;
    align-self: center;
}
.trustPilot__statistics__left__container__container__amountToShow{
    grid-area: amountToShow;
}

.trustPilot__statistics__left__container div{
  /*   display: grid;
    grid-template-columns: repeat(3, 1fr); */
}


.trustPilot__statistics__right{

}
.trustPilot__statistics__right__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.trustPilot__statistics__right__container__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
}
.trustPilot__gallery{

}
.trustPilot__gallery__text{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.trustPilot__gallery__images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 40px;
    justify-items: center;
}
.trustPilot__gallery__images img{
    width: 100%;
}
.trustPilot__gallery__button{
    text-align: center;
    padding-bottom: 100px;
}

.trustPilot__reviewsContainer{
    background-color: #FCFCFC;
    padding-bottom: 70px;
}
.trustPilot__reviewsContainer__filter{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 50px;
    justify-items: center;
}
.trustPilot__reviewsContainer__cards{
    width: 80%;
    margin: auto;
}
.trustPilot__reviewsContainer__card{
    display: grid;
grid-template-columns: repeat(8, 1fr);

  grid-template-areas: 
  "nameTPcard nameTPcard starTPcard starTPcard titleTPcard titleTPcard titleTPcard titleTPcard"
  "nameTPcard nameTPcard starTPcard starTPcard reviewTPcard reviewTPcard reviewTPcard reviewTPcard"
  "nameTPcard nameTPcard starTPcard starTPcard responseTPcard responseTPcard responseTPcard responseTPcard" 
  "nameTPcard nameTPcard starTPcard starTPcard imagesTPcard imagesTPcard imagesTPcard imagesTPcard";
    padding: 60px 80px;
    background: #FFFFFF;
    border: 0.5px solid #EBEBEB;
    border-radius: 5px;
    margin-bottom: 20px;
}
.trustPilot__reviewsContainer__card__left{
   
}
.trustPilot__reviewsContainer__card__middle{
    font-size: 12px;
    grid-area: starTPcard;
}
.trustPilot__reviewsContainer__card__middle__rating{
    color: #00FF00;
    font-size: 20px;
    margin-bottom: 20px;
}
.trustPilot__stars__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
}
.trustPilot__reviewsContainer__card__right__text__reviewImages__container{
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.trustPilot__reviewsContainer__card__right__text__reviewImages{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-area: imagesTPcard;
    gap: 10px;
}

.speach{
    position: absolute;
    top: 0px;
    left: -20px;
    border-left: 20px solid transparent;
    border-top: 20px solid #efefef;
}

.trustPilot__reviewsContainer__card__right__text__repsonse{
    background-color: #EFEFEF;
    padding: 30px;
    grid-area: responseTPcard;
    position: relative;
}

.trustPilot__reviewsContainer__card__right__text__reviewImages img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.trustPilot__reviewsContainer__card__right__text__header{
    grid-area: titleTPcard;
}
.trustPilot__reviewsContainer__card__right__text__header h3{
    font-size: 26px;
    margin-bottom: 20px;
}
.trustPilot__reviewsContainer__card__right__text__content{
    margin-bottom: 40px;
    font-size: 14px;
    grid-area: reviewTPcard;
}
.trustPilot__reviewsContainer__card__right__text__repsonse__content{
    font-size: 14px;
}
.trustPilot__reviewsContainer__card__right__text__repsonse__details{
    margin-bottom: 30px;
}
.trustPilot__reviewsContainer__card__right__text__repsonse__details__company{
    font-size: 12px;
}
.trustPilot__reviewsContainer__card__right__text__repsonse__details__date{
    font-size: 10px;
}
.trustPilot__reviewsContainer__card__left__text__repsonse__details__date{
    text-align: right;
}
.trustPilot__reviewsContainer__card__left__text_name{
  /*   display: grid;
    grid-template-columns: repeat(2, 1fr); */
    grid-area: nameTPcard;
}
.trustPilot__reviewsContainer__card__left__text_name__name{
    font-size: 20px;
}
.trustPilot__reviewsContainer__card__right__text_name__date{
  
}
.trustPilot__stars{
    display: flex;
}
.trustPilot__stars .fa-star{
    margin-right: 5px;
}
.trustPilotModal__stars{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
}
.trustPiloModal__reviewsContainer__card__left{
    font-size: 12px;
    max-width: 250px;
}
form {
 /*    display: flex;
    flex-direction: column; */
    /* width: 200px; */
    /* justify-content: end; */
    /* align-content: center; */
    /* align-content: flex-end; */
/*     align-items: flex-end; */
}

.trustPilot__reviewsContainer__filter__left form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;

}
.trustPilot__pagination{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 50px;
    background-color: #FCFCFC;
}
.pagination__div{
    cursor: pointer;
}
.trustPilot__pagination div{
    border: 1px solid black;
    
}
/* ############# Modal ############### */

#trustPilotModal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.displayNone{
    display: none;
}
.trustPilotModal__inner{
    width: 600px;
    max-height: 60%;
    background-color: white;
    overflow: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.trustPilotModal__inner__gallery{
    display: grid;
    grid-template-columns:  repeat(1, 1fr)
}
.trustPilotModal__inner__gallery__image{
    position: relative;
}
.trustPilotModal__inner__gallery__right{
    position: absolute;
    top: 45%;
    background-color: black;
    width: 50px;
    height: 50px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}
.trustPilotModal__inner__gallery__right i {
    position: absolute;
    top: 15px;
    left: 15px;
}

.trustPilotModal__inner__gallery__left{
    position: absolute;
    top: 45%;
    background-color: black;
    width: 50px;
    height: 50px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
    right: 0;
}
.trustPilotModal__inner__gallery__left i {
    position: absolute;
    top: 15px;
    left: 15px;
}


.trustPilotModal__inner__gallery img{
    width: 100%;
}
.trustPilotModal__inner__text{
    padding: 30px;
}
.trustPilotModal__inner__text__stars{
    margin-bottom: 20px;
    font-size: 20px;
    color: #00FF00;
}
.trustPilotModal__inner__text__review{
    margin-bottom: 30px;
    font-size: 14px;
}
.trustPilotModal__inner__text__button{
    margin-bottom: 30px;
}
.trustPilotModal__reviewsContainer__card__text_name__name{
    margin-bottom: 10px;
}
.trustPilotModal__reviewsContainer__card__text_name__name h3{
    font-size: 16px;
}
.trustPilotModal__reviewsContainer__card__text_name__date{
    font-size: 12px;
}
.imageToPress__div{
    height: 160px;
    cursor: pointer;
    width: 160px;
}
.imageToPress{
    width: 100%;
    height: 100%;
}
.trustPilot__gallery__images img{
    object-fit: cover;
}
.currentPage{
    background-color: green;
}


@media only screen and (max-width:600px) and (min-width:0px) {
    .trustPilotModal__inner{
        width: 100%;
    }
    .trustPilot__container{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .trustPilot__container__inner{
        width: 100%;
        padding-top: 55px;
    }
    .trustPilot__title{
        margin-bottom: 35px;
    }
    .trustPilot__starRating{
        margin-bottom: 40px;
    }
    .trustPilot__statistics__left__container{
        margin-bottom: 30px;
    }
    .trustPilot__gallery__images {
        grid-template-columns: repeat(2, 1fr);
    }
    .trustPilot__reviewsContainer__filter{
        grid-template-columns: repeat(1, 1fr);
    }
    .trustPilot__statistics{
        grid-template-columns: repeat(1, 1fr);
    }
    .trustPilot__reviewsContainer__filter__left form{
        align-items: center;
    }
    .trustPilot__reviewsContainer__card{
        padding: 20px 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "titleTPcard"
        "starTPcard"
        "reviewTPcard"
        "nameTPcard"
        "imagesTPcard"
        "responseTPcard";
    }
    .trustPilot__reviewsContainer__filter__left form{
        margin-right: 0px;
    }
    .trustPilot__reviewsContainer__filter__left{
        margin-bottom: 10px;
    }
    .trustPilot__reviewsContainer__filter__right{
        text-align: center;
    }
    .trustPilot__gallery__button{
        padding-bottom: 50px;
    }
    .trustPilot__reviewsContainer__card__right__text__header h3{
        font-size: 18px;
    }
    .trustPilot__reviewsContainer__card__middle{
        margin-bottom: 20px;
    }
    .trustPilot__reviewsContainer__card__left__text_name{
        margin-bottom: 30px;
    }
    .trustPilot__reviewsContainer__card__left__text_name__name{
        font-size: 12px;
    }
    .trustPilot__reviewsContainer__card__left__text_name__date{
        font-size: 10px;
    }
    .trustPilot__reviewsContainer__card__right__text__reviewImages{
        overflow: scroll;
    }
    .trustPilot__reviewsContainer__card__right__text__reviewImages__container{
        width: 100px;
        height: 100px;
    }
}